<body>
  <p>Welcome to Rock-Paper-Scissors. Select your weapon below to play computer</p>
<nav>
  <ul>
    <li><a href="/rock/scissors/1">Rock</a></li>
    <li><a href="/rock/scissors/2">Paper</a></li>
    <li><a href="/rock/scissors/3">Scissors</a></li>
  </ul>
</nav>
</body>
